<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

	<context:annotation-config />

	<!-- 配置在SpringMVC中只扫描controller 解决事物失效问题 -->
	<context:component-scan base-package="top.imwork" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<!-- HTTP请求信息转换器HttpMessageConverter start -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<ref bean="stringHttpMessageConverter" /> 
           <!--  <ref bean="fastJsonHttpMessageConverter" />  -->
			<ref bean="mappingJacksonHttpMessageConverter"/><!-- 这是spring默认的json转换器和自定义的选一个 -->
		</mvc:message-converters>
	</mvc:annotation-driven>
	<!-- 从HTTP请求和响应中读取和写入字符串。支持 text/* ;Content-Type = text/plain -->
	<bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter"> 
        <constructor-arg value="UTF-8" index="0"></constructor-arg><!--避免出现乱码 --> 
        <property name="supportedMediaTypes"> 
            <list> 
                <value>text/plain;charset=UTF-8</value> 
            </list> 
        </property> 
    </bean>
    
    <!-- 自定义JSON的HttpMessaageConverter转换器  alibaba的fastjson 和默认的选一个就可以了-->
    <bean id="fastJsonHttpMessageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter"> 
        <property name="supportedMediaTypes"> 
            <list> 
                <value>application/json;charset=UTF-8</value> 
                <value>text/html;charset=UTF-8</value><!-- 避免IE出现下载JSON文件的情况 --> 
            </list> 
        </property> 
    </bean> 
    
    <!--默认的json转换器 避免IE执行AJAX时,返回JSON出现下载文件
     	spring3为：org.springframework.http.converter.json.MappingJacksonHttpMessageConverter 
		spring4为：org.springframework.http.converter.json.MappingJackson2HttpMessageConverter
	-->
	<bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<!-- 处理返回的json数据的编码，默认是ISO-88859-1的，这里我们把它设置为UTF-8,如果有乱码的情况，我们只需要修改这里就可以了 -->
				<value>text/json;charset=UTF-8</value>
				<value>text/html;charset=UTF-8</value>
				<value>application/json;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	<!-- HTTP请求信息转换器HttpMessageConverter end -->
	
	<!-- 国际化 -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource"> 
        <property name="basename" value="messages"></property> 
    </bean> 
	
	<!-- 静态资源映射 -->
	<mvc:resources location="/WEB-INF/static/" mapping="/static/**" />
	<mvc:resources location="/WEB-INF/resources/" mapping="/resources/**" />
	
	<!-- 配置视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/views/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	
	<!-- 文件上传表单的视图解析器 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8"></property>
		<property name="maxInMemorySize" value="10240000"></property>
	</bean>
	<!-- proxy-target-class默认"false",更改为"ture"使用CGLib动态代理 -->
	<!-- <aop:aspectj-autoproxy proxy-target-class="true" /> -->
</beans>